Ciao <b>{{ username }}</b>,

il livello di pioggia del prototipo situato in <b>{{ location }}</b>

{% if alertType == "between" %}
    <br>
    è compreso tra i valori <b>{{ alertValue["value"] }}</b>  e
    <b>{{ alertValue["value2 "] }}</b> da te impostati, il valore attuale è di <b>{{ now }}</b>.
    <br>
{% endif %}

{% if alertType == "greater" %}
    <br>
    è superiore al livello massimo <b>{{ alertValue["value"] }}</b> da te impostato, il valore attuale è di
    <b>{{ now }}</b>.
    <br>
{% endif %}

{% if alertType == "lower" %}
    <br>
    è inferiore al livello minimo <b>{{ alertValue["value"] }}</b> da te impostato, il valore attuale è di
    <b>{{ now }}</b>.
    <br>
{% endif %}

Cordiali Saluti - COLOMBOWATERWATCH.IT