{% extends '@Core/Base/base.html.twig' %}

{% block title %}Examples ZMBManagement{% endblock %}
{% block bodyClass %}hold-transition login-page{% endblock %}

{% block body %}
    <div class="login-box">
        <div class="login-logo">
            <b>ZMB</b>Management
        </div>
        <div class="login-box-body">
            <a href="http://facebook.com/zambahacker">Hello this is a fucking project made by <b>Germano Zambelli</b>
                for private use. please for info contact me to zamba.germano@hotmail.it</a>

        </div>
    </div>
{% endblock %}
