<!DOCTYPE html>
<!--
   ______      __                __             _       __      __               _       __      __       __
  / ____/___  / /___  ____ ___  / /_  ____     | |     / /___ _/ /____  _____   | |     / /___ _/ /______/ /_
 / /   / __ \/ / __ \/ __ `__ \/ __ \/ __ \    | | /| / / __ `/ __/ _ \/ ___/   | | /| / / __ `/ __/ ___/ __ \
/ /___/ /_/ / / /_/ / / / / / / /_/ / /_/ /    | |/ |/ / /_/ / /_/  __/ /       | |/ |/ / /_/ / /_/ /__/ / / /
\____/\____/_/\____/_/ /_/ /_/_.___/\____/     |__/|__/\__,_/\__/\___/_/        |__/|__/\__,_/\__/\___/_/ /_/

 Copyright (C) 2017 IIS COLOMBO SANREMO - Germano Zambelli <zamba.germano@hotmail.it> - Marco Caruso - Riccardo Breccione - Andrea Nolli

-->
<html lang="it">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <meta name="description" content="{% block description %}{% endblock %} - {{ "suffix_title"|trans }}">
    <meta name="keywords" content="{% block keywords %}{% endblock %} - {{ "suffix_title"|trans }}">
    <title> {% block title %}{% endblock %} - {{ "suffix_title"|trans }}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('bundles/core/src/img/favicon-32x32.png') }}"/>

    <link rel="apple-touch-icon-precomposed" sizes="57x57"
          href="{{ asset('bundles/core/src/img/apple-touch-icon-57x57.png') }}"/>
    <link rel="apple-touch-icon-precomposed" sizes="114x114"
          href="{{ asset('bundles/core/src/img/apple-touch-icon-114x114.png') }}"/>
    <link rel="apple-touch-icon-precomposed" sizes="72x72"
          href="{{ asset('bundles/core/src/img/apple-touch-icon-72x72.png') }}"/>
    <link rel="apple-touch-icon-precomposed" sizes="144x144"
          href="{{ asset('bundles/core/src/img/apple-touch-icon-144x144.png') }}"/>
    <link rel="apple-touch-icon-precomposed" sizes="60x60"
          href="{{ asset('bundles/core/src/img/apple-touch-icon-60x60.png') }}"/>
    <link rel="apple-touch-icon-precomposed" sizes="120x120"
          href="{{ asset('bundles/core/src/img/apple-touch-icon-120x120.png') }}"/>
    <link rel="apple-touch-icon-precomposed" sizes="76x76"
          href="{{ asset('bundles/core/src/img/apple-touch-icon-76x76.png') }}"/>
    <link rel="apple-touch-icon-precomposed" sizes="152x152"
          href="{{ asset('bundles/core/src/img/apple-touch-icon-152x152.png') }}"/>
    <link rel="icon" type="image/png" href="{{ asset('bundles/core/src/img/favicon-196x196.png') }}" sizes="196x196"/>
    <link rel="icon" type="image/png" href="{{ asset('bundles/core/src/img/favicon-96x96.png') }}" sizes="96x96"/>
    <link rel="icon" type="image/png" href="{{ asset('bundles/core/src/img/favicon-32x32.png') }}" sizes="32x32"/>
    <link rel="icon" type="image/png" href="{{ asset('bundles/core/src/img/favicon-16x16.png') }}" sizes="16x16"/>
    <link rel="icon" type="image/png" href="{{ asset('bundles/core/src/img/favicon-128.png') }}" sizes="128x128"/>
    <meta name="application-name" content="&nbsp;"/>
    <meta name="msapplication-TileColor" content="#FFFFFF"/>
    <meta name="msapplication-TileImage" content="mstile-144x144.png"/>
    <meta name="msapplication-square70x70logo" content="mstile-70x70.png"/>
    <meta name="msapplication-square150x150logo" content="mstile-150x150.png"/>
    <meta name="msapplication-wide310x150logo" content="mstile-310x150.png"/>
    <meta name="msapplication-square310x310logo" content="mstile-310x310.png"/>

    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <link rel="stylesheet" href="{{ asset('bundles/core/src/bootstrap/css/bootstrap.min.css') }}">

    <link rel="stylesheet" href="{{ asset('bundles/core/src/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/core/src/css/ionicons.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/core/src/css/AdminLTE.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/core/src/css/skins/skin-blue-light.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/core/src/plugins/iCheck/all.css') }}">
    <!-- <link rel="stylesheet" href="{{ asset('bundles/core/src/plugins/morris/morris.css') }}"> -->
    <link rel="stylesheet" href="{{ asset('bundles/core/src/plugins/select2/select2.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/core/src/plugins/colorpicker/bootstrap-colorpicker.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/core/src/plugins/jvectormap/jquery-jvectormap-1.2.2.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/core/src/plugins/datepicker/datepicker3.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/core/src/plugins/daterangepicker/daterangepicker.css') }}">
    <link rel="stylesheet"
          href="{{ asset('bundles/core/src/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css') }}">


    {% block stylesheets %}{% endblock %}

</head>

<body class="{% block bodyClass %}hold-transition skin-blue-light sidebar-mini{% endblock %}">
{% block body %}{% endblock %}
</body>


<script src="{{ asset('bundles/core/src/plugins/jQuery/jquery-2.2.3.min.js') }}"></script>

<script src="{{ asset('bundles/core/src/js/jquery-ui.min.js') }}"></script>


<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]
    <script src="{{ asset('bundles/core/src/js/html5shiv.min.js') }}"></script>
    <script src="{{ asset('bundles/core/src/js/respond.min.js') }}"></script>
    <![endif]-->

<script>
    $.widget.bridge('uibutton', $.ui.button);
    //iCheck for checkbox and radio inputs

</script>


<script src="{{ asset('bundles/core/src/bootstrap/js/bootstrap.min.js') }}"></script>

<script src="{{ asset('bundles/core/src/js/raphael-min.js') }}"></script>
<!--<script src="{{ asset('bundles/core/src/plugins/morris/morris.min.js') }}"></script>-->

<script src="{{ asset('bundles/core/src/plugins/sparkline/jquery.sparkline.min.js') }}"></script>

<script src="{{ asset('bundles/core/src/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js') }}"></script>
<script src="{{ asset('bundles/core/src/plugins/jvectormap/jquery-jvectormap-world-mill-en.js') }}"></script>

<script src="{{ asset('bundles/core/src/plugins/knob/jquery.knob.js') }}"></script>
<script src="{{ asset('bundles/core/src/plugins/select2/select2.full.min.js') }}"></script>

<script src="{{ asset('bundles/core/src/js/moment.min.js') }}"></script>
<script src="{{ asset('bundles/core/src/plugins/daterangepicker/daterangepicker.js') }}"></script>

<script src="{{ asset('bundles/core/src/plugins/datepicker/bootstrap-datepicker.js') }}"></script>

<script src="{{ asset('bundles/core/src/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js') }}"></script>

<script src="{{ asset('bundles/core/src/plugins/slimScroll/jquery.slimscroll.min.js') }}"></script>

<script src="{{ asset('bundles/core/src/plugins/fastclick/fastclick.js') }}"></script>

<script src="{{ asset('bundles/core/src/js/app.min.js') }}"></script>

<!--<script src="{{ asset('bundles/core/src/js/pages/dashboard.js') }}"></script>-->

<script src="{{ asset('bundles/core/src/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js') }}"></script>

<script src="{{ asset('bundles/core/src/plugins/iCheck/icheck.min.js') }}"></script>

<script src="{{ asset('bundles/core/src/plugins/colorpicker/bootstrap-colorpicker.min.js') }}"></script>

<script>
    $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
        checkboxClass: 'icheckbox_minimal-blue',
        radioClass: 'iradio_minimal-blue'
    });
    $(".my-colorpicker2").colorpicker();
</script>

{% block javascripts %}{% endblock %}

</html>
