Ciao <b>{{ username }}</b>,
<br>
il livello di carica della batteria del prototipo situato in <b>{{ location }}</b> è inferiore al livello minimo di
<b>{{ min }}%</b>, il valore attuale è di <b>{{ now }}%</b>.
<br>

Cordiali Saluti - COLOMBOWATERWATCH.IT