Ciao <b>{{ username }}</b>,
<br>
il valore della temperatura del prototipo situato in <b>{{ location }}</b> è superiore al livello massimo di
<b>{{ max }}°</b>, il valore attuale è di <b>{{ now }}°</b>.
<br>

Cordiali Saluti - COLOMBOWATERWATCH.IT