<li {% if page=="account" %}class="active"{% endif %}><a
            href="{{ path('germano_zambelli_zmbmanagement_userbundle_account_page') }}"><i class="fa fa-user"></i>
        <span>{{ "menu.account"|trans }}</span></a>
</li>

{% if user.isAdmin %}
    <li {% if page=="users" %}class="active"{% endif %}><a
                href="{{ path('germano_zambelli_zmbmanagement_userbundle_users_page') }}"><i class="fa fa-users"></i>
            <span>{{ "menu.users"|trans }}</span></a>
    </li>
{% endif %}