{% extends 'CoreBundle:Base:base.html.twig' %}

{% block title %}{{ "prototypes.add.title"|trans }}{% endblock %}
{% block keywords %}{{ "prototypes.add.title"|trans }}{% endblock %}
{% block description %}{{ "prototypes.add.title"|trans }}{% endblock %}
{% block body %}

    <div class="wrapper">

        {% include '@Core/Utility/navbarTop.html.twig' %}

        {% include '@Core/Utility/menu.html.twig' with {cat:"prototypes", page:"addPrototype"} %}


        <div class="content-wrapper">

            <section class="content-header">
                <h1>
                    {{ "prototypes.add.title"|trans }}
                </h1>
                <ol class="breadcrumb">
                    <li><a href=""><i class="fa fa-globe"></i>{{ "prototypes.add.title"|trans }}</a>
                    </li>
                </ol>
            </section>

            <section class="content">

                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{ "prototypes.add.desc"|trans }}</h3>
                    </div>


                    {{ form_start(form) }}
                    <div class="box-body">


                        <input type="hidden" name="apiKey" id="apiKey" value="{{ apiKey }}" class="form-control">
                        <div class="form-group">
                            <label>{{ "prototypes.add.location"|trans }}:</label>
                            {{ form_widget(form.location) }}
                        </div>

                        <div class="form-group">
                            <label>{{ "prototypes.add.api_key"|trans }}:</label>
                            {{ form_widget(form.apiKey, {'attr': {'value': apiKey }}) }}
                        </div>

                        <div class="form-group">
                            <label>{{ "prototypes.add.temp_alert"|trans }}:</label>
                            {{ form_widget(form.tempAlert) }}
                        </div>

                        <div class="form-group">
                            <label>{{ "prototypes.add.hydrometric_alert"|trans }}:</label>
                            {{ form_widget(form.hydrometricAlert) }}
                        </div>

                        <div class="form-group">
                            <label>{{ "prototypes.add.rain_alert"|trans }}:</label>
                            {{ form_widget(form.rainAlert) }}
                        </div>

                        <div class="form-group">
                            <label>{{ "prototypes.add.battery_alert"|trans }}:</label>
                            {{ form_widget(form.batteryAlert) }}
                        </div>

                    </div>

                    <div class="box-footer">

                        {{ form_widget(form.add) }}

                    </div>
                    {{ form_end(form) }}

                </div>


                {% include '@Core/Utility/messageBox.html.twig' %}

            </section>

        </div>


        {% include '@Core/Utility/footer.html.twig' %}

        <div class="control-sidebar-bg"></div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/waterwatch/src/js/prototype.js') }}"></script>
{% endblock %}