{% extends 'CoreBundle:Base:base.html.twig' %}

{% block title %}{{ "prototypes.show.title"|trans }}{% endblock %}
{% block keywords %}{{ "prototypes.show.title"|trans }}{% endblock %}
{% block description %}{{ "prototypes.show.title"|trans }}{% endblock %}
{% block body %}

    <div class="wrapper">

        {% include '@Core/Utility/navbarTop.html.twig' %}

        {% include '@Core/Utility/menu.html.twig' with {cat:"prototypes", page:"show"} %}

        <div class="content-wrapper">
            <section class="content-header">
                <h1>
                    {{ "prototypes.show.title"|trans }}
                </h1>
                <ol class="breadcrumb">
                    <li><a href=""><i class="fa fa-users"></i> {{ "prototypes.show.title"|trans }}</a></li>

                </ol>
            </section>

            <section class="content">

                <div class="box">
                    <div class="box-header">

                    </div>
                    <div class="box-body">

                        <table id="customersList" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>{{ "prototypes.show.id"|trans|upper }}</th>
                                <th>{{ "prototypes.show.location"|trans|upper }}</th>
                                <th>{{ "prototypes.show.apikey"|trans|upper }}</th>
                                <th>{{ "prototypes.show.options"|trans|upper }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for prototype in prototypes %}
                                <tr id="sl{{ prototype.id }}">
                                    <td>{{ prototype.id }}</td>
                                    <td>{{ prototype.location }}</td>
                                    <td>{{ prototype.apiKey }}</td>
                                    <td><a class="btn btn-app" style="padding: 9px 5px; min-width: 63px;
    height: 53px;"
                                           href="{{ path('germano_zambelli_waterwatch_waterwatchbundle_prototype_page', {'id': prototype.id}) }}">
                                            <i class="fa fa-pencil-square-o"></i> {{ "edit"|trans|capitalize }}
                                        </a>


                                        <a class="btn btn-app" style="   padding: 9px 5px; min-width: 63px;
    height: 53px;"
                                           onclick="deletePrototype('{{ prototype.id }}','{{ path('germano_zambelli_waterwatch_waterwatchbundle_ajax_prototypes_delete')|url_encode }}')">
                                            <i class="fa fa-times"></i> {{ "delete"|trans|capitalize }}
                                        </a>

                                    </td>
                                    <td></td>

                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>{{ "prototypes.show.id"|trans|upper }}</th>
                                <th>{{ "prototypes.show.location"|trans|upper }}</th>
                                <th>{{ "prototypes.show.apikey"|trans|upper }}</th>
                                <th>{{ "prototypes.show.options"|trans|upper }}</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>

                {% include '@Core/Utility/messageBox.html.twig' %}

            </section>

        </div>
        {% include '@Core/Utility/footer.html.twig' %}

        <div class="control-sidebar-bg"></div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/waterwatch/src/js/prototype.js') }}"></script>
{% endblock %}