{% extends 'CoreBundle:Base:base.html.twig' %}

{% block title %}{{ "prototype.title"|trans }}{% endblock %}
{% block keywords %}{{ "prototype.title"|trans }}{% endblock %}
{% block description %}{{ "prototype.title"|trans }}{% endblock %}
{% block body %}

    <div class="wrapper">

        {% include '@Core/Utility/navbarTop.html.twig' %}

        {% include '@Core/Utility/menu.html.twig' with {cat:"prototypes", page:"prototype"} %}


        <div class="content-wrapper">

            <section class="content-header">
                <h1>
                    {{ "prototype.title"|trans }}
                </h1>
                <ol class="breadcrumb">
                    <li><a href=""><i class="fa fa-user"></i> {{ "prototypes.show.title"|trans }}</a> |
                        N° {{ prototype.id }}
                    </li>
                </ol>
            </section>

            <section class="content">

                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{ "prototype.desc"|trans({"%id%": prototype.id }) }}</h3>
                    </div>


                    {{ form_start(form) }}
                    <div class="box-body">


                        {{ form_widget(form.id, {'attr': {'value': prototype.id }}) }}

                        <div class="form-group">
                            <label>{{ "prototypes.add.location"|trans }}:</label>
                            {{ form_widget(form.location, {'attr': {'value': prototype.location }}) }}
                        </div>

                        <div class="form-group">
                            <label>{{ "prototypes.add.api_key"|trans }}:</label>
                            {{ form_widget(form.apiKey, {'attr': {'value': prototype.apiKey }}) }}
                        </div>

                        <div class="form-group">
                            <label>{{ "prototypes.add.temp_alert"|trans }}:</label>
                            {{ form_widget(form.tempAlert, {'attr': {'value': prototype.tempAlert }}) }}
                        </div>

                        <div class="form-group">
                            <label>{{ "prototypes.add.hydrometric_alert"|trans }}:</label>
                            {{ form_widget(form.hydrometricAlert, {'attr': {'value': prototype.hydrometricAlert }}) }}
                        </div>

                        <div class="form-group">
                            <label>{{ "prototypes.add.rain_alert"|trans }}:</label>
                            {{ form_widget(form.rainAlert, {'attr': {'value': prototype.rainAlert }}) }}
                        </div>

                        <div class="form-group">
                            <label>{{ "prototypes.add.battery_alert"|trans }}:</label>
                            {{ form_widget(form.batteryAlert, {'attr': {'value': prototype.batteryAlert }}) }}
                        </div>

                    </div>

                    <div class="box-footer">

                        {{ form_widget(form.edit) }}

                    </div>
                    {{ form_end(form) }}

                </div>


                {% include '@Core/Utility/messageBox.html.twig' %}

            </section>

        </div>


        {% include '@Core/Utility/footer.html.twig' %}

        <div class="control-sidebar-bg"></div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/waterwatch/src/js/prototype.js') }}"></script>
{% endblock %}