<div id="msgError" class="alert alert-danger alert-dismissible" style="margin-top: 20px;display: none;">
    <h4>{{ "messageBox.error"|trans }}</h4>
    <p id="text"></p>
</div>

<div id="msgSuccess" class="alert alert-success alert-dismissible" style="margin-top: 20px;display: none;">

    <h4>{{ "messageBox.success"|trans }}</h4>
    <p id="text"></p>
</div>

<div id="msgInfo" class="alert alert-info alert-dismissible" style="margin-top: 20px;display: none;">

    <h4>{{ "messageBox.info"|trans }}</h4>
    <p id="text"></p>
</div>