<header class="main-header">
    <a href="{{ path('germano_zambelli_waterwatch_waterwatchbundle_site_homepage') }}" class="logo">
        <span class="logo-mini">{{ "navbar.logomini"|trans|raw }}</span>
        <span class="logo-lg">{{ "navbar.logo"|trans|raw }}</span>
    </a>

    <nav class="navbar navbar-static-top">

        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only"></span>
        </a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li class="dropdown user user-menu">
                    <a href="{{ path('germano_zambelli_zmbmanagement_userbundle_logout_page') }}">
                        <span class="hidden-xs">{{ "navbar.logout"|trans|upper }}</span>
                    </a>
                </li>

            </ul>
        </div>

    </nav>
</header>