<!DOCTYPE html>
<!--
   ______      __                __             _       __      __               _       __      __       __
  / ____/___  / /___  ____ ___  / /_  ____     | |     / /___ _/ /____  _____   | |     / /___ _/ /______/ /_
 / /   / __ \/ / __ \/ __ `__ \/ __ \/ __ \    | | /| / / __ `/ __/ _ \/ ___/   | | /| / / __ `/ __/ ___/ __ \
/ /___/ /_/ / / /_/ / / / / / / /_/ / /_/ /    | |/ |/ / /_/ / /_/  __/ /       | |/ |/ / /_/ / /_/ /__/ / / /
\____/\____/_/\____/_/ /_/ /_/_.___/\____/     |__/|__/\__,_/\__/\___/_/        |__/|__/\__,_/\__/\___/_/ /_/

 Copyright (C) 2017 IIS COLOMBO SANREMO - Germano Zambelli <zamba.germano@hotmail.it> - Marco Caruso - Riccardo Breccione - Andrea Nolli

-->
<html lang="it">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <meta name="description" content="{% block description %}{% endblock %} - {{ "suffix_title"|trans }}">
    <meta name="keywords" content="{% block keywords %}{% endblock %} - {{ "suffix_title"|trans }}">
    <title> {% block title %}{% endblock %} - {{ "suffix_title"|trans }}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('bundles/core/src/img/favicon-32x32.png') }}"/>

    <link rel="apple-touch-icon-precomposed" sizes="57x57"
          href="{{ asset('bundles/core/src/img/apple-touch-icon-57x57.png') }}"/>
    <link rel="apple-touch-icon-precomposed" sizes="114x114"
          href="{{ asset('bundles/core/src/img/apple-touch-icon-114x114.png') }}"/>
    <link rel="apple-touch-icon-precomposed" sizes="72x72"
          href="{{ asset('bundles/core/src/img/apple-touch-icon-72x72.png') }}"/>
    <link rel="apple-touch-icon-precomposed" sizes="144x144"
          href="{{ asset('bundles/core/src/img/apple-touch-icon-144x144.png') }}"/>
    <link rel="apple-touch-icon-precomposed" sizes="60x60"
          href="{{ asset('bundles/core/src/img/apple-touch-icon-60x60.png') }}"/>
    <link rel="apple-touch-icon-precomposed" sizes="120x120"
          href="{{ asset('bundles/core/src/img/apple-touch-icon-120x120.png') }}"/>
    <link rel="apple-touch-icon-precomposed" sizes="76x76"
          href="{{ asset('bundles/core/src/img/apple-touch-icon-76x76.png') }}"/>
    <link rel="apple-touch-icon-precomposed" sizes="152x152"
          href="{{ asset('bundles/core/src/img/apple-touch-icon-152x152.png') }}"/>
    <link rel="icon" type="image/png" href="{{ asset('bundles/core/src/img/favicon-196x196.png') }}" sizes="196x196"/>
    <link rel="icon" type="image/png" href="{{ asset('bundles/core/src/img/favicon-96x96.png') }}" sizes="96x96"/>
    <link rel="icon" type="image/png" href="{{ asset('bundles/core/src/img/favicon-32x32.png') }}" sizes="32x32"/>
    <link rel="icon" type="image/png" href="{{ asset('bundles/core/src/img/favicon-16x16.png') }}" sizes="16x16"/>
    <link rel="icon" type="image/png" href="{{ asset('bundles/core/src/img/favicon-128.png') }}" sizes="128x128"/>
    <meta name="application-name" content="&nbsp;"/>
    <meta name="msapplication-TileColor" content="#FFFFFF"/>
    <meta name="msapplication-TileImage" content="mstile-144x144.png"/>
    <meta name="msapplication-square70x70logo" content="mstile-70x70.png"/>
    <meta name="msapplication-square150x150logo" content="mstile-150x150.png"/>
    <meta name="msapplication-wide310x150logo" content="mstile-310x150.png"/>
    <meta name="msapplication-square310x310logo" content="mstile-310x310.png"/>

    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!--[if lte IE 8]>
    <script src="{{ asset('bundles/waterwatch/assets/js/ie/html5shiv.js') }}"></script><![endif]-->
    <link rel="stylesheet" href="{{ asset('bundles/waterwatch/assets/css/main.css') }}"/>
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="{{ asset('bundles/waterwatch/assets/css/ie8.css')}}"/><![endif]-->

    {% block stylesheets %}{% endblock %}

</head>

<body class="homepage {% block bodyClass %}{% endblock %}">
<div id="page-wrapper">
    {% block body %}{% endblock %}
</div>
</body>


<script src="{{ asset('bundles/core/src/plugins/jQuery/jquery-2.2.3.min.js') }}"></script>

<script src="{{ asset('bundles/core/src/js/jquery-ui.min.js') }}"></script>


<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]
    <script src="{{ asset('bundles/core/src/js/html5shiv.min.js') }}"></script>
    <script src="{{ asset('bundles/core/src/js/respond.min.js') }}"></script>
    <![endif]-->


<script src="{{ asset('bundles/waterwatch/assets/js/jquery.min.js')}}"></script>
<script src="{{ asset('bundles/waterwatch/assets/js/jquery.dropotron.min.js')}}"></script>
<script src="{{ asset('bundles/waterwatch/assets/js/skel.min.js')}}"></script>
<script src="{{ asset('bundles/waterwatch/assets/js/util.js')}}"></script>
<!--[if lte IE 8]><script src="{{ asset('bundles/waterwatch/assets/js/ie/respond.min.js')}}"></script><![endif]-->
<script src="{{ asset('bundles/waterwatch/assets/js/main.js')}}"></script>

{% block javascripts %}{% endblock %}

</html>
