<div id="footer-wrapper" style="padding:0!important;">
    <footer id="footer" class="container">
        <div class="row">
            <div class="12u">
                <div id="copyright">
                    <ul class="menu">
                        <li>{{ "footer.copyright"|trans|raw }}</li><li>{{ "footer.right"|trans|raw }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</div>