<!-- Header -->
<div id="header-wrapper">
    <header id="header" class="container">

        <!-- Logo -->
        <div id="logo">
            <h1 style="background-color: #0090c5;"><a href="{{ path('germano_zambelli_waterwatch_waterwatchbundle_site_homepage') }}">{{ "site.homepage.logo"|trans|upper }}</a></h1>
            <span>{{ "site.homepage.by"|trans }}</span>
        </div>

        <!-- Nav -->
        <nav id="nav">
            <ul>
                <li class="{% if page=="homepage" %}current{% endif %}"><a href="{{ path('germano_zambelli_waterwatch_waterwatchbundle_site_homepage') }}">{{ "site.homepage.title"|trans }}</a></li>

                {% if not app.session.get("username") %}
                    <li>
                        <a href="#">{{ "site.menu.account"|trans|capitalize }}</a>
                        <ul>
                            <li><a href="{{ path('germano_zambelli_zmbmanagement_userbundle_login_page') }}">{{ "site.menu.login"|trans|capitalize }}</a></li>
                            <li><a href="{{ path('germano_zambelli_zmbmanagement_userbundle_register_page') }}">{{ "site.menu.register"|trans|capitalize }}</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li><a href="{{ path("germano_zambelli_zmbmanagement_userbundle_home_page") }}"> {{ "site.menu.account"|trans|capitalize }}</a></li>
                {% endif %}
                <li class="{% if page=="prototypes" %}current{% endif %}"><a href="{{ path('germano_zambelli_waterwatch_waterwatchbundle_site_prototypes') }}">{{ "site.homepage.prototype"|trans }}</a></li>
                <li>
                    <a href="#">{{ "site.menu.docs"|trans|capitalize }}</a>
                    <ul>
                        <li><a href="https://bitbucket.org/germanozambelli/colombo-water-watch/wiki/Home">Colombo Water Watch</a></li>
                        <li><a href="https://bitbucket.org/germanozambelli/sketch-arduino-colombo-waterwatch/src">Sketch Arduino</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">{{ "site.menu.lang"|trans|capitalize }}</a>
                    <ul>
                        <li><a href="{{ path('germano_zambelli_waterwatch_waterwatchbundle_site_homepage', {'_locale': 'it'} ) }}">Italiano</a></li>
                        <li><a href="{{ path('germano_zambelli_waterwatch_waterwatchbundle_site_homepage', {'_locale': 'en'} ) }}">English</a></li>
                    </ul>
                </li>
            </ul>
        </nav>

    </header>
</div>
