{% if user.isAdmin %}
    <li class="treeview {% if cat=="prototypes" %}active{% endif %}">
        <a href="">
            <i class="fa fa-globe"></i> <span>{{ "menu.prototypes"|trans }}</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="{{ path('germano_zambelli_waterwatch_waterwatchbundle_add_prototype_page') }}"><i
                            class="fa fa-plus"></i>{{ "add"|trans }}</a></li>
            <li class=""><a href="{{ path('germano_zambelli_waterwatch_waterwatchbundle_prototypes_page') }}"><i
                            class="fa fa-edit"></i>{{ "edit"|trans }}</a></li>
        </ul>
    </li>
{% endif %}

<li class="treeview {% if cat=="alerts" %}active{% endif %}">
    <a href="">
        <i class="fa fa-exclamation-circle"></i> <span>{{ "menu.alerts"|trans }}</span>
        <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
    </a>
    <ul class="treeview-menu">
        <li><a href="{{ path('germano_zambelli_waterwatch_waterwatchbundle_add_alert_page') }}"><i
                        class="fa fa-plus"></i>{{ "add"|trans }}</a></li>
        <li class=""><a href="{{ path('germano_zambelli_waterwatch_waterwatchbundle_alerts_page') }}"><i
                        class="fa fa-edit"></i>{{ "edit"|trans }}</a></li>
    </ul>
</li>