{% extends 'CoreBundle:Base:base.html.twig' %}

{% block title %}{{ "account.title"|trans }}{% endblock %}
{% block keywords %}{{ "account.title"|trans }}{% endblock %}
{% block description %}{{ "account.title"|trans }}{% endblock %}
{% block body %}

    <div class="wrapper">

        {% include '@Core/Utility/navbarTop.html.twig' %}

        {% include '@Core/Utility/menu.html.twig' with {cat:"home", page:"account"} %}


        <div class="content-wrapper">

            <section class="content-header">
                <h1>
                    {{ "account.title"|trans }}
                </h1>
                <ol class="breadcrumb">
                    <li><a href=""><i class="fa fa-user"></i> {{ "account.title"|trans }}</a></li>
                </ol>
            </section>

            <section class="content">

                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{ "account.box.mail"|trans }}</h3>
                    </div>


                    {{ form_start(mailForm) }}
                    <div class="box-body">

                        <div class="form-group">
                            <label>{{ "change_mail.mail"|trans }}:</label>
                            {{ form_widget(mailForm.mail, {'attr': {'value': user.mail }}) }}
                        </div>

                    </div>

                    <div class="box-footer">

                        {{ form_widget(mailForm.send) }}

                    </div>
                    {{ form_end(mailForm) }}

                </div>

                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{ "account.box.password"|trans }}</h3>
                    </div>


                    {{ form_start(passwordForm) }}
                    <div class="box-body">

                        <div class="form-group">
                            <label>{{ "change_password.password"|trans }}:</label>
                            {{ form_widget(passwordForm.password.first) }}
                        </div>

                        <div class="form-group">
                            <label>{{ "change_password.repeat_password"|trans }}:</label>
                            {{ form_widget(passwordForm.password.second) }}
                        </div>

                    </div>

                    <div class="box-footer">

                        {{ form_widget(passwordForm.send) }}

                    </div>
                    {{ form_end(passwordForm) }}

                </div>

                {% include '@Core/Utility/messageBox.html.twig' %}

            </section>

        </div>


        {% include '@Core/Utility/footer.html.twig' %}

        <div class="control-sidebar-bg"></div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/user/src/js/user.js') }}"></script>
{% endblock %}