{% extends 'CoreBundle:Base:base.html.twig' %}

{% block title %}{{ "dashboard.title"|trans }}{% endblock %}
{% block keywords %}{{ "dashboard.title"|trans }}{% endblock %}
{% block description %}{{ "dashboard.title"|trans }}{% endblock %}
{% block body %}

    <div class="wrapper">

        {% include '@Core/Utility/navbarTop.html.twig' %}

        {% include '@Core/Utility/menu.html.twig' with {cat:"home", page:"dashboard"} %}


        <div class="content-wrapper">

            <section class="content-header">
                <h1>
                    {{ "dashboard.title"|trans }}

                </h1>
                <ol class="breadcrumb">
                    <li><a href=""><i class="fa fa-dashboard"></i> {{ "dashboard.title"|trans }}</a></li>

                </ol>
            </section>

            <section class="content">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{ "dashboard.welcome_message_title"|trans }} {{ user.username|capitalize }}</h3>
                    </div>

                    <div class="box-body">
                        {{ "dashboard.welcome_message"|trans({"%username%": user.username|capitalize })|raw }}
                    </div>

                </div>

            </section>

        </div>

        {% include '@Core/Utility/footer.html.twig' %}

        <div class="control-sidebar-bg"></div>
    </div>
{% endblock %}