{% extends '@Core/Base/base.html.twig' %}

{% block title %}{{ "login.title"|trans }}{% endblock %}
{% block keywords %}{{ "login.title"|trans }}{% endblock %}
{% block description %}{{ "login.title"|trans }}{% endblock %}
{% block bodyClass %}hold-transition login-page{% endblock %}

{% block body %}
    <div class="login-box">
        <div class="login-logo">
            <a href="{{ path('germano_zambelli_waterwatch_waterwatchbundle_site_homepage') }}">{{ "login.logo"|trans|raw }}</a>
        </div>
        <div class="login-box-body">
            <p class="login-box-msg">{{ "login.desc"|trans }}</p>

            {{ form_start(form) }}
            <div class="form-group has-feedback">
                {{ form_widget(form.username) }}
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                {{ form_widget(form.password) }}
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    {{ form_widget(form.send) }}
                </div>
            </div>
            {{ form_end(form) }}

        </div>
        {% include '@Core/Utility/messageBox.html.twig' %}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/user/src/js/user.js') }}"></script>
{% endblock %}