{% extends 'WaterWatchBundle:Sites/Utility:base.html.twig' %}

{% block title %}{{ "site.homepage.title"|trans }}{% endblock %}
{% block keywords %}{{ "site.homepage.title"|trans }}{% endblock %}
{% block description %}{{ "site.homepage.title"|trans }}{% endblock %}
{% block body %}

    {% include 'WaterWatchBundle:Sites/Utility:header.html.twig' with {page:"homepage"} %}

    <!-- Features -->
    <div id="features-wrapper">
        <div class="container">
            <div class="row">
                <div class="4u 12u(medium)">

                    <!-- Box -->
                    <section class="box feature">
                        <div class="inner">
                            <header>
                                <h2>{{ "site.homepage.what_is_waterwatch"|trans }}</h2>
                            </header>
                            <p>{{ "site.homepage.what_is_waterwatch_desc"|trans }}</p>
                        </div>
                    </section>

                </div>
                <div class="4u 12u(medium)">

                    <!-- Box -->
                    <section class="box feature">
                        <div class="inner">
                            <header>
                                <h2>{{ "site.homepage.features.title"|trans }}:</h2>
                            </header>
                            <p>{{ "site.homepage.features.desc"|trans|raw }}</p>
                        </div>
                    </section>

                </div>
                <div class="4u 12u(medium)">

                    <!-- Box -->
                    <section class="box feature">
                        <div class="inner">
                            <header>
                                <h2>{{ "site.homepage.custom_alert.title"|trans }}:</h2>
                            </header>
                            <p>{{ "site.homepage.custom_alert.desc"|trans|raw }}</p>
                        </div>
                    </section>

                </div>
            </div>
        </div>
    </div>



    {% include 'WaterWatchBundle:Sites/Utility:footer.html.twig' %}

{% endblock %}

