{% extends 'WaterWatchBundle:Sites/Utility:base.html.twig' %}

{% block title %}{{ "site.prototype.title"|trans }}{% endblock %}
{% block keywords %}{{ "site.prototype.title"|trans }}{% endblock %}
{% block description %}{{ "site.prototype.title"|trans }}{% endblock %}
{% block body %}

    {% include 'WaterWatchBundle:Sites/Utility:header.html.twig' with {page:"prototypes"} %}

    <script src="{{ asset('bundles/core/src/plugins/jQuery/jquery-2.2.3.min.js') }}"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ googleApi }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/waterwatch/src/js/jquery.googlemap.js') }}"></script>
    <div id="main-wrapper" style="padding: 13px;">
        <div class="container">

            <div id="map" style="width: 100%; height: 600px"></div>
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            $("#map").googleMap({
                zoom: 10, // Initial zoom level (optional)
                coords: [43.8936047, 7.9939391], // Map center (optional)
                type: "ROAD" // Map type (optional)
            });

            {% for prototype in prototypes %}

            {% if prototype|prototypeIsOnline %} {% set icon = "http://maps.google.com/mapfiles/ms/icons/green-dot.png" %}{% else %}{% set icon = "http://maps.google.com/mapfiles/ms/icons/red-dot.png" %}{% endif %}

            $("#map").addMarker({
                address: "{{ prototype.location }}", // Postale Address
                icon: "{{ icon }}",
                url: '{{ path('germano_zambelli_waterwatch_waterwatchbundle_site_prototype', {'id': prototype.id}) }}'
            });
            {% endfor %}
        });

    </script>

    {% include 'WaterWatchBundle:Sites/Utility:footer.html.twig' %}

{% endblock %}

{% block javascripts %}


{% endblock %}