{% extends 'WaterWatchBundle:Sites/Utility:base.html.twig' %}

{% block title %}{{ "site.measurement.title"|trans }}{% endblock %}
{% block keywords %}{{ "site.measurement.title"|trans }}{% endblock %}
{% block description %}{{ "site.measurement.title"|trans }}{% endblock %}
{% block body %}

    {% include 'WaterWatchBundle:Sites/Utility:header.html.twig' with {page:"prototypes"} %}

    <script src="{{ asset('bundles/core/src/plugins/jQuery/jquery-2.2.3.min.js') }}"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ googleApi }}"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <div id="main-wrapper" style="padding: 13px;">
        <div class="container">
            <div id="barchart_material" style=" width: 100%;
  min-height: 450px;"></div>
        </div>
    </div>

    {% include 'WaterWatchBundle:Sites/Utility:footer.html.twig' %}

{% endblock %}

{% block javascripts %}
    <script>
        google.charts.load('current', {'packages':['bar']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['{{ "chart.data"|trans }}', '{{ "chart.hydrometric"|trans }}', '{{ "chart.battery"|trans }}', '{{ "chart.temp"|trans }}', '{{ "chart.rain"|trans }}'],
                {% for key, measurement in measurements %}
                    ['{{ key|parseDate }}', {% if measurement.hydrometric is defined %}{{ measurement.hydrometric }}{% else %}0{% endif %}, {% if measurement.battery is defined %}{{ measurement.battery }}{% else %}0{% endif %}, {% if measurement.temp is defined %}{{ measurement.temp }}{% else %}0{% endif %}, {% if measurement.rain is defined %}{{ measurement.rain }}{% else %}0{% endif %}],
                {% endfor %}
            ]);

            var options = {
                chart: {
                    title: '{{ "chart.desc"|trans }} {{ prototype.location }}',
                },
                axes: {
                    x: {
                        all: {
                            range: {
                                max: 200,
                                min: 0
                            }
                        }
                    }
                },
                bars: 'horizontal' // Required for Material Bar Charts.
            };

            var chart = new google.charts.Bar(document.getElementById('barchart_material'));

            chart.draw(data, options);
        };

    </script>

{% endblock %}