{% extends 'CoreBundle:Base:base.html.twig' %}

{% block title %}{{ "users.show.title"|trans }}{% endblock %}
{% block keywords %}{{ "users.show.title"|trans }}{% endblock %}
{% block description %}{{ "users.show.title"|trans }}{% endblock %}
{% block body %}

    <div class="wrapper">

        {% include '@Core/Utility/navbarTop.html.twig' %}

        {% include '@Core/Utility/menu.html.twig' with {cat:"home", page:"users"} %}

        <div class="content-wrapper">
            <section class="content-header">
                <h1>
                    {{ "users.show.title"|trans }}
                </h1>
                <ol class="breadcrumb">
                    <li><a href=""><i class="fa fa-users"></i> {{ "users.show.title"|trans }}</a></li>

                </ol>
            </section>

            <section class="content">

                <div class="box">
                    <div class="box-header">

                    </div>
                    <div class="box-body">

                        <table id="customersList" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>{{ "users.show.username"|trans|upper }}</th>
                                <th>{{ "users.show.role"|trans|upper }}</th>
                                <th>{{ "users.show.options"|trans|upper }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for userc in users %}
                                <tr id="sl{{ userc.id }}">
                                    <td>{{ userc.username|capitalize }}</td>

                                    <td style="{% if userc.isAdmin == 1 %}color:green;{% else %}color:blue; {% endif %}">{% if userc.isAdmin == 1 %}{{ "users.show.admin"|trans|capitalize }}{% else %}{{ "users.show.user"|trans|capitalize }}{% endif %}</td>
                                    <td><a class="btn btn-app" style="padding: 9px 5px; min-width: 63px;
    height: 53px;" href="{{ path('germano_zambelli_zmbmanagement_userbundle_users_user_page', {'id': userc.id}) }}">
                                            <i class="fa fa-pencil-square-o"></i> {{ "edit"|trans|capitalize }}
                                        </a>

                                        {% if userc.username != user.username %}
                                            <a class="btn btn-app" style="   padding: 9px 5px; min-width: 63px;
    height: 53px;"
                                               onclick="deleteUser('{{ userc.id }}','{{ path('germano_zambelli_zmbmanagement_userbundle_ajax_users_delete')|url_encode }}')">
                                                <i class="fa fa-times"></i> {{ "delete"|trans|capitalize }}
                                            </a>
                                        {% endif %}

                                    </td>
                                    <td></td>

                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>{{ "users.show.username"|trans|upper }}</th>
                                <th>{{ "users.show.role"|trans|upper }}</th>
                                <th>{{ "users.show.options"|trans|upper }}</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>

                {% include '@Core/Utility/messageBox.html.twig' %}

            </section>

        </div>
        {% include '@Core/Utility/footer.html.twig' %}

        <div class="control-sidebar-bg"></div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/user/src/js/user.js') }}"></script>
{% endblock %}