{% extends 'CoreBundle:Base:base.html.twig' %}

{% block title %}{{ "user.title"|trans }}{% endblock %}
{% block keywords %}{{ "user.title"|trans }}{% endblock %}
{% block description %}{{ "user.title"|trans }}{% endblock %}
{% block body %}

    <div class="wrapper">

        {% include '@Core/Utility/navbarTop.html.twig' %}

        {% include '@Core/Utility/menu.html.twig' with {cat:"home", page:"users"} %}


        <div class="content-wrapper">

            <section class="content-header">
                <h1>
                    {{ "users.show.title"|trans }}
                </h1>
                <ol class="breadcrumb">
                    <li><a href=""><i class="fa fa-user"></i> {{ "user.title"|trans }}</a> | {{ u.username|capitalize }}
                    </li>
                </ol>
            </section>

            <section class="content">

                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{ "user.desc"|trans({"%username%": u.username|capitalize }) }}</h3>
                    </div>


                    {{ form_start(form) }}
                    <div class="box-body">


                        {{ form_widget(form.id, {'attr': {'value': u.id }}) }}

                        <div class="form-group">
                            <label>{{ "user.username"|trans }}:</label>
                            {{ form_widget(form.username, {'attr': {'value': u.username }}) }}
                        </div>

                        <div class="form-group">
                            <label>{{ "change_mail.mail"|trans }}:</label>
                            {{ form_widget(form.mail, {'attr': {'value': u.mail }}) }}
                        </div>

                        <div class="form-group">
                            <label>{{ "change_password.password"|trans }}:</label>
                            {{ form_widget(form.password, {'attr': {'value': "" }}) }}
                        </div>

                        <div class="form-group">
                            <label>{{ "users.show.role"|trans }}:</label>

                            {{ form_widget(form.isAdmin, {attr: {'class': "form-control"}}) }}
                        </div>

                    </div>

                    <div class="box-footer">

                        {{ form_widget(form.send) }}

                    </div>
                    {{ form_end(form) }}

                </div>


                {% include '@Core/Utility/messageBox.html.twig' %}

            </section>

        </div>


        {% include '@Core/Utility/footer.html.twig' %}

        <div class="control-sidebar-bg"></div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/user/src/js/user.js') }}"></script>
{% endblock %}