{% extends 'CoreBundle:Base:base.html.twig' %}

{% block title %}{{ "alerts.add.title"|trans }}{% endblock %}
{% block keywords %}{{ "alerts.add.title"|trans }}{% endblock %}
{% block description %}{{ "alerts.add.title"|trans }}{% endblock %}
{% block body %}

    <div class="wrapper">

        {% include '@Core/Utility/navbarTop.html.twig' %}

        {% include '@Core/Utility/menu.html.twig' with {cat:"alerts", page:"addAlert"} %}


        <div class="content-wrapper">

            <section class="content-header">
                <h1>
                    {{ "alerts.add.title"|trans }}
                </h1>
                <ol class="breadcrumb">
                    <li><a href=""><i class="fa fa-globe"></i>{{ "alerts.add.title"|trans }}</a>
                    </li>
                </ol>
            </section>

            <section class="content">

                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{ "alerts.add.desc"|trans }}</h3>
                    </div>


                    {{ form_start(form) }}
                    <div class="box-body">


                        <div class="form-group">
                            <label>{{ "alerts.add.prototype"|trans }}:</label>
                            {{ form_widget(form.prototype) }}
                        </div>

                        <div class="form-group">
                            <label>{{ "alerts.add.measurementType"|trans }}:</label>
                            {{ form_widget(form.measurementType) }}
                        </div>

                        <div class="form-group">
                            <label>{{ "alerts.add.alertType"|trans }}:</label>
                            {{ form_widget(form.alertType) }}
                        </div>

                        <div class="form-group">
                            <label>{{ "alerts.add.value"|trans }}:</label>
                            {{ form_widget(form.value) }}
                        </div>
                        <style>
                            div#value2 {
                                display: none;
                            }
                        </style>
                        <div id="value2" class="form-group">
                            <label>{{ "alerts.add.value2"|trans }}:</label>
                            {{ form_widget(form.value2) }}
                        </div>
                    </div>

                    <div class="box-footer">

                        {{ form_widget(form.add) }}

                    </div>
                    {{ form_end(form) }}

                </div>


                {% include '@Core/Utility/messageBox.html.twig' %}

            </section>

        </div>


        {% include '@Core/Utility/footer.html.twig' %}

        <div class="control-sidebar-bg"></div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/waterwatch/src/js/prototype.js') }}"></script>
{% endblock %}