{% extends 'CoreBundle:Base:base.html.twig' %}

{% block title %}{{ "alerts.show.title"|trans }}{% endblock %}
{% block keywords %}{{ "alerts.show.title"|trans }}{% endblock %}
{% block description %}{{ "alerts.show.title"|trans }}{% endblock %}
{% block body %}

    <div class="wrapper">

        {% include '@Core/Utility/navbarTop.html.twig' %}

        {% include '@Core/Utility/menu.html.twig' with {cat:"alerts", page:"show"} %}

        <div class="content-wrapper">
            <section class="content-header">
                <h1>
                    {{ "alerts.show.title"|trans }}
                </h1>
                <ol class="breadcrumb">
                    <li><a href=""><i class="fa fa-users"></i> {{ "alerts.show.title"|trans }}</a></li>

                </ol>
            </section>

            <section class="content">

                <div class="box">
                    <div class="box-header">

                    </div>
                    <div class="box-body">

                        <table id="customersList" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>{{ "alerts.show.prototype"|trans|upper }}</th>
                                <th>{{ "alerts.show.measurement_type"|trans|upper }}</th>
                                <th>{{ "alerts.show.alert_type"|trans|upper }}</th>
                                <th>{{ "alerts.show.values"|trans|upper }}</th>
                                <th>{{ "alerts.show.options"|trans|upper }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for alert in alerts %}
                                <tr id="sl{{ alert.id }}">
                                    <td>{{ alert.prototype.location }}</td>
                                    <td>{{ alert.measurementType.name|trans|capitalize }}</td>
                                    <td>{{ alert.alertType.name|trans|capitalize }}</td>
                                    <td>{{ alert.jsonDecodedValue['value'] }} {% if alert.jsonDecodedValue['value2'] is defined %} - {{ alert.jsonDecodedValue['value2'] }}{% endif %}</td>
                                    <td><a class="btn btn-app" style="padding: 9px 5px; min-width: 63px;
    height: 53px;"
                                           href="{{ path('germano_zambelli_waterwatch_waterwatchbundle_alert_page', {'id': alert.id}) }}">
                                            <i class="fa fa-pencil-square-o"></i> {{ "edit"|trans|capitalize }}
                                        </a>

                                        <a class="btn btn-app" style="   padding: 9px 5px; min-width: 63px;
    height: 53px;"
                                           onclick="deleteAlert('{{ alert.id }}','{{ path('germano_zambelli_waterwatch_waterwatchbundle_ajax_alerts_delete')|url_encode }}')">
                                            <i class="fa fa-times"></i> {{ "delete"|trans|capitalize }}
                                        </a>

                                    </td>
                                    <td></td>

                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>{{ "alerts.show.prototype"|trans|upper }}</th>
                                <th>{{ "alerts.show.measurement_type"|trans|upper }}</th>
                                <th>{{ "alerts.show.alert_type"|trans|upper }}</th>
                                <th>{{ "alerts.show.values"|trans|upper }}</th>
                                <th>{{ "alerts.show.options"|trans|upper }}</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>

                {% include '@Core/Utility/messageBox.html.twig' %}

            </section>

        </div>
        {% include '@Core/Utility/footer.html.twig' %}

        <div class="control-sidebar-bg"></div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/waterwatch/src/js/prototype.js') }}"></script>
{% endblock %}