{% extends 'CoreBundle:Base:base.html.twig' %}

{% block title %}{{ "alert.title"|trans }}{% endblock %}
{% block keywords %}{{ "alert.title"|trans }}{% endblock %}
{% block description %}{{ "alert.title"|trans }}{% endblock %}
{% block body %}

    <div class="wrapper">

        {% include '@Core/Utility/navbarTop.html.twig' %}

        {% include '@Core/Utility/menu.html.twig' with {cat:"alerts", page:"alert"} %}


        <div class="content-wrapper">

            <section class="content-header">
                <h1>
                    {{ "alert.title"|trans }}
                </h1>
                <ol class="breadcrumb">
                    <li><a href=""><i class="fa fa-user"></i> {{ "alerts.show.title"|trans }}</a> |
                        N° {{ alert.id }}
                    </li>
                </ol>
            </section>

            <section class="content">

                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{ "alert.desc"|trans({"%id%": alert.id }) }}</h3>
                    </div>


                    {{ form_start(form) }}
                    <div class="box-body">


                        {{ form_widget(form.id, {'attr': {'value': alert.id }}) }}

                        <div class="form-group">
                            <label>{{ "alerts.add.prototype"|trans }}:</label>
                            {{ form_widget(form.prototype) }}
                        </div>

                        <div class="form-group">
                            <label>{{ "alerts.add.measurementType"|trans }}:</label>
                            {{ form_widget(form.measurementType) }}
                        </div>

                        <div class="form-group">
                            <label>{{ "alerts.add.alertType"|trans }}:</label>
                            {{ form_widget(form.alertType) }}
                        </div>

                        <div class="form-group">
                            <label>{{ "alerts.add.value"|trans }}:</label>
                            {{ form_widget(form.value, {'attr': {'value': alert.jsonDecodedValue().value }}) }}
                        </div>


                        {% if alert.jsonDecodedValue['value2'] is defined %}
                            <style>
                                div#value2 {
                                    display: block;
                                }
                            </style>
                            {% set value2 = alert.jsonDecodedValue['value2'] %}
                        {% else %}
                            <style>
                                div#value2 {
                                    display: none;
                                }
                            </style>
                            {% set value2 = "" %}
                        {% endif %}

                        <div id="value2" class="form-group">
                            <label>{{ "alerts.add.value2"|trans }}:</label>
                            {{ form_widget(form.value2, {'attr': {'value': value2 }}) }}
                        </div>

                    </div>

                    <div class="box-footer">

                        {{ form_widget(form.edit) }}

                    </div>
                    {{ form_end(form) }}

                </div>


                {% include '@Core/Utility/messageBox.html.twig' %}

            </section>

        </div>


        {% include '@Core/Utility/footer.html.twig' %}

        <div class="control-sidebar-bg"></div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/waterwatch/src/js/prototype.js') }}"></script>
{% endblock %}